<div class="container">
  <div class="content-area">
    <clr-datagrid>
      <clr-dg-placeholder>Start by adding a tier!</clr-dg-placeholder>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'capacity.capacity'">Size</clr-dg-column>
      <clr-dg-column [clrDgField]="'interference.cpu'">CPU</clr-dg-column>
      <clr-dg-column [clrDgField]="'interference.memory'">Memory</clr-dg-column>
      <clr-dg-column [clrDgField]="'interference.disk'">Disk</clr-dg-column>
      <clr-dg-column [clrDgField]="'interference.cache'">Cache</clr-dg-column>
      <clr-dg-column [clrDgField]="'affinity.affinities.length'">Affinity</clr-dg-column>

      <clr-dg-row *clrDgItems="let tier of tiers; let i=index" (click)="openTierModal(tier)">
        <clr-dg-cell>{{tier.name}}</clr-dg-cell>
        <clr-dg-cell>{{size(tier.capacity.capacity)}}</clr-dg-cell>
        <clr-dg-cell>{{cpu(tier.interference.cpu)}}</clr-dg-cell>
        <clr-dg-cell>{{memory(tier.interference.memory)}}</clr-dg-cell>
        <clr-dg-cell>{{disk(tier.interference.disk)}}</clr-dg-cell>
        <clr-dg-cell>{{cache(tier.interference.cache)}}</clr-dg-cell>
        <clr-dg-cell>{{tier.affinity.affinities.length}} entries</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} tiers
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal *ngIf="tierModal && tierIndex != -1" [(clrModalOpen)]="tierModal">
  <div class="modal-body">
    <app-tier-card class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" [(tierId)]="tierIndex"></app-tier-card>
  </div>
</clr-modal>
