<div class="card-text">
  <div class="row">
    <div class="col-xs-4">{{ interferenceName }}:</div>
    <div class="col-xs-8">
      <div class="select">
        <select [(ngModel)]="interference[name]">
          <option [ngValue]="degradation.Absent">Absent</option>
          <option [ngValue]="degradation.Low">Low</option>
          <option [ngValue]="degradation.Moderate">Moderate</option>
          <option [ngValue]="degradation.High">High</option>
        </select>
      </div>
    </div>
  </div>
