<header class="header header-4">
  <div class="branding">
    <div class="nav-link">
      <clr-icon shape="vm"></clr-icon>
      <span class="title">CIAPA</span>
    </div>
  </div>
  <div class="header-nav">
      <a href="javascript://" class="nav-link nav-text active">Tiers</a>
      <a href="javascript://" class="nav-link nav-text">Placement</a>
  </div>
  <div class="header-actions">

  </div>
</header>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Save</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Export</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Import</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="newTier()">New Tier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Generate Placement</a>
        </li>
    </ul>
</nav>
