button{
    outline: none;
}

.branding{
    cursor: pointer;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.numberOfPMs {
    width: 60px;
}

.subnavStick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.select select {
    width: 120px;
}