<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      {{tier.name}}
    </div>
    <div class="card-block">
      <app-capacity [(capacity)]="tier.capacity.capacity"></app-capacity>

      <div class="card-title">Interference: </div>
      <app-interference name="CPU" [degradation]="DegradationCPU" [(interference)]="tier.interference.cpu"></app-interference>
      <app-interference name="Memory" [degradation]="DegradationMemory" [(interference)]="tier.interference.memory"></app-interference>
      <app-interference name="Disk" [degradation]="DegradationDisk" [(interference)]="tier.interference.disk"></app-interference>
      <app-interference name="Cache" [degradation]="DegradationCache" [(interference)]="tier.interference.cache"></app-interference>


      <app-affinity [degradation]="DegradationAffinity" [tierId]="tierId" [(affinity)]="tier.affinity"></app-affinity>
    </div>

    <div class="card-footer">
      <button class="btn btn-success-outline" (click)="addAffinityHandler()">Add Affinity</button>
      <button class="btn btn-warning-outline">Delete Tier</button>
    </div>
  </div>
</div>
