<div class="container">
  <div class="content-area">

    <clr-datagrid>
      <clr-dg-placeholder>Start by adding a PM!</clr-dg-placeholder>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'capacity'">Capacity</clr-dg-column>

      <clr-dg-row *clrDgItems="let pm of pms; let i=index" (click)="openPMModal(pm)">
        <clr-dg-cell>{{pm.name}}</clr-dg-cell>
        <clr-dg-cell>{{pm.capacity}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} PMs
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal *ngIf="pmModal && pmIndex != -1" [(clrModalOpen)]="pmModal">
  <div class="modal-body">
    <app-pm-card [(pmId)]="pmIndex"></app-pm-card>
  </div>
</clr-modal>
