<div class="card">
  <div class="card-header">
    <div class="form-group">
      <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="pm.name == ''">
            <input type="text" id="name" [(ngModel)]="pm.name" placeholder="Name">
            <span class="tooltip-content">
                This field cannot be empty!
            </span>
        </label>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">
      Capacity:
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-xs-4">Size of PM:</div>
        <div class="col-xs-7">
          <input type="number" [(ngModel)]="pm.capacity" min="0.1" step="0.1" max="5">
        </div>
        <div class="col-xs-1 info" (click)="_infoModel = true">
          <clr-icon shape="help"></clr-icon>              
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-warning-outline" (click)="_deletePMModal = true"><clr-icon shape="trash"></clr-icon> PM</button>
  </div>
</div>

<clr-modal [(clrModalOpen)]="_deletePMModal" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want to delete {{pm.name}}?</h3>
  <div class="modal-body">
    <p>This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="_deletePMModal = false">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="deletePMHandler(); _deletePMModal = false"><clr-icon shape="trash"></clr-icon> Delete</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="_infoModel">
  <h3 class="modal-title">PM Capacity Information</h3>
  <div class="modal-body">
      <p>This capacity refers to the amount of tiers the given PM can host.</p>
      <p>For example: a PM with size 1 is able to host two Xlarge tiers (40% each) and one Medium tier (20%), or any other combination that leads to 100% of use.</p>
      <p>A tier of size 0.5 is able to host 0.5 times the amount a full PM (size 1) is able. It can host any combination that leads to maximum 50% of use.</p>
      <p>A tier of size 1.5 is able to host 1.5 times the amount a full PM (size 1) is able. It can host any combination that leads to maximum 150% of use.</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="_infoModel = false">Ok</button>
  </div>
</clr-modal>