<div class="card-title">
  Affinity:
</div>
<div class="card-text">
  <span *ngIf="affinity.affinities.length == 0">None</span>
  <div class="row" *ngFor="let affinityElement of affinity.affinities; let i = index">
    <div class="col-sm-4">
      <div class="select">
        <select [(ngModel)]="affinityElement.tier">
            <option *ngFor="let t of tiers" [value]="t">{{t.name}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="select">
        <select [(ngModel)]="affinityElement.affinity">
          <option [value]="degradation.Absent">Absent</option>
          <option [value]="degradation.Low">Low</option>
          <option [value]="degradation.Moderate">Moderate</option>
          <option [value]="degradation.High">High</option>
        </select>
      </div>
    </div>
    <div class="col-md-2" class="remove" (click)="removeAffinityHandler(i)">
      <clr-icon shape="times"></clr-icon>
    </div>
  </div>

</div>
